{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="w-screen h-screen noto-sans flex flex-col">
    {% include 'components/navbar.html.twig' %}
    <div class="flex w-full h-0 grow max-h-full gap-2 p-4">
        <div class="h-full w-64 shrink-0 flex flex-col shadow-md p-2 rounded-md">
            <div class="">
                <h2 class="text-xl text-bold font-medium">Categories</h2>
            </div>
        </div>
        <div class="flex flex-col max-h-full grow justify-center gap-4 p-4">
            <div class="w-full order flex flex-col gap-2">
                <p class="font-light text-sm">Showing 67 products</p>
                <div class="flex justify-between w-full">
                    <div class="flex gap-4">
                        <div class="shadow p-2 rounded-md flex gap-1 items-center">
                            Dogs
                            {{ ux_icon('tabler:x') }}
                        </div>
                        <div class="shadow p-2 rounded-md flex gap-1 items-center">
                            Cats
                            {{ ux_icon('tabler:x') }}
                        </div>
                    </div>
                    <div>
                        <select>
                            <option>Name ↑</option>
                            <option>Name ↓</option>
                            <option>Price ↑</option>
                            <option>Price ↓</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="w-full grow grid grid-cols-4 gap-10 overflow-scroll justify-evenly">
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
                {% for product in products %}
                    {% include 'components/product-card.html.twig' with {'product': product} %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
