{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="w-screen h-screen">
    {% include 'components/navbar.html.twig' %}
</div>

{% endblock %}
